* {
    font-family: Arial, Helvetica, sans-serif;
}


.show-details {
    display: none;
}

.details {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: rgba(31, 105, 202, 0.305);
}

.toggle {
    margin-right: 8px;
}

#toggle-text {
    font-weight: bold;
    color: rgb(16, 65, 124);
}

